@import url(https://fonts.google.com/share?selection.family=Josefin+Sans:ital,wght@0,100..700;1,100..700);
body {
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: #FFFFA6;
    box-sizing: border-box;
    overflow-x: hidden;
}

header {
    position:sticky;
    top: 0;
    width: 100%;
    background-color: #000000fd;
    padding: 1rem 0;
    text-align: center;
}
header h1 {
    margin: 0;
}
nav ul {
    list-style: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin: 0 1rem;
}
nav ul li a {
    color: white;
    text-decoration: none;
    color: #FFFFA6;
}

.logo-container {
    display: grid;
    position: fixed;
    margin: auto;
    top: 20rem;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease;
}

.logo {
    display: grid;
    margin: auto;
    place-items: center;
    align-content: center;
    width: 30rem;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.scrolled .logo-container {
    top: 1rem;
    left: 99%;
    transform: translate(-100%, 0);
}

.scrolled .logo {
    width: 5rem;
}

.name{
    display: grid;
    padding-top: 32rem;
    /* place-items: center; */
    align-content: center;
    vertical-align: bottom;
}
.zoom-fade-text {
    font-size: 3rem;
    transition: transform 0.3s, opacity 0.3s;
  }
.hidden{
    opacity: 0;
    transition: all 1s;
}

.show{
    opacity: 1;
}

section {
    height: 6.25rem;
    padding: 1.25rem;
    margin: 1.25rem 0;
    background-color: #2C2C2B;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
}

div.album {
    border: 1px solid #ccc;
  }
  
  div.album:hover {
    border: 1px solid #777;
  }
  
  div.album img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 1rem;
    text-align: center;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .responsive {
    padding: 0 0.375rem;
    float: left;
    width: 24.99999%;
  }
  
  @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 0.375rem 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }
  
footer {
    text-align: center;
    padding: 0.3125rem 0;
    background-color: #00000060;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}

@media (max-width: 768px) {
  .logo {
    width: 20rem;
}
  .scrolled .logo {
    width: 4.5rem;
  }
  .zoom-fade-text {
    font-size: 2rem;
  }
}
