@import url(https://fonts.google.com/share?selection.family=Josefin+Sans:ital,wght@0,100..700;1,100..700);
body {
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: #FFFFA6;
    box-sizing: border-box;
    overflow-x: hidden;
    height: 175vh;
}

header {
    position:sticky;
    top: 0;
    width: 100%;
    background-color: #000000fd;
    padding: 1rem 0;
    text-align: center;
}
nav ul {
    list-style: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin: 0 1rem;
}
nav ul li a {
    color: white;
    text-decoration: none;
    color: #FFFFA6;
}

.logo-container {
    display: grid;
    position: fixed;
    margin: auto;
    top: 20rem;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.69s ease;
}

.logo {
    display: grid;
    width: 30rem;
    border-radius: 50%;
    transition: all 0.6s ease;
}

.scrolled .logo-container {
    top: 1rem;
    left: 99%;
    transform: translate(-100%, 0);
}

.scrolled .logo {
    width: 5rem;
}

.name{
    display: grid;
    padding-top: 32rem;
    align-content: center;
    vertical-align: bottom;
}
.zoom-fade-text {
    font-size: 4rem;
    transition: transform 0.3s, opacity 0.3s;
  }
.hidden{
    opacity: 0;
    transition: all 1s;
}

.show{
    opacity: 1;
}
   
.scroll-container {
  width: 60%;
  overflow-x: hidden;
  white-space: nowrap;
  padding: 1.25rem;
  box-sizing: border-box;
  margin-left: 20%;
  margin-right: 20%;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.scroll-content {
  display: inline-block;
}

.item {
  display: inline-block;
  width: 12.5rem;
  height: 12.5rem;
  margin-right: 1.25rem;
  text-align: center;
  line-height: 12.5rem;
  box-sizing: border-box;
}

.scroll-container.scrolling {
  scroll-behavior: unset;
}

.scrolling .scroll-container {
  transition: transform 2s;
}
/* .followmeon{
  display: flex;
  justify-content: center;
  font-size: 1.25rem;
} */
.social-links {
  display: flex;
  justify-content: center;
  gap: 1.25rem;
  margin-top: 2.5rem;
}

.social-links a img {
  width: 3.125rem;
  height: auto;
  transition: transform 0.3s ease;
}

.social-links a:hover img {
  transform: scale(1.1);
}

footer {
    text-align: center;
    padding: 0.3125rem 0;
    background-color: #00000076;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}

@media (max-width: 768px) {
  .logo {
    width: 20rem;
}
  .scrolled .logo {
      width: 4.5rem;
}
  .zoom-fade-text {
      font-size: 2rem;
}
  .leftbuttonclass{
    opacity: 0;
  }
  .rightbuttonclass{
    opacity: 0;
  }
}
