@import url(https://fonts.google.com/share?selection.family=Josefin+Sans:ital,wght@0,100..700;1,100..700);
body {
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: #FFFFA6;
    box-sizing: border-box;
    overflow-x: hidden;
    height: 200vh;
}

header {
    position:sticky;
    top: 0;
    width: 100%;
    background-color: #000000fd;
    padding: 1rem 0;
    text-align: center;
}
nav ul {
    list-style: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin: 0 1rem;
}
nav ul li a {
    color: white;
    text-decoration: none;
    color: #FFFFA6;
}

.logo-container {
    display: grid;
    position: fixed;
    margin: auto;
    top: 20rem;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease;
}

.logo {
    display: grid;
    place-items: center;
    align-content: center;
    width: 30rem;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.scrolled .logo-container {
    top: 1rem;
    left: 99%;
    transform: translate(-100%, 0);
}

.scrolled .logo {
    width: 5rem;
}

.name{
    display: grid;
    padding-top: 32rem;
    /* place-items: center; */
    align-content: center;
    vertical-align: bottom;
}
.zoom-fade-text {
    font-size: 4rem;
    transition: transform 0.3s, opacity 0.3s;
  }
.hidden{
    opacity: 0;
    transition: all 1s;
}

.show{
    opacity: 1;
}
/* 
.albums-container {
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  margin-left: 50%;
}

.album {
  display: inline-block;
  width: 12.5rem;
  margin-right: 0.625rem; 
  background-color: #f0f0f0;
  border-radius: 0.3125rem;
  padding: 0.625rem;
}
::-webkit-scrollbar {
  width: 0.625rem;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
   */
   
.scroll-container {
  width: 80%;
  overflow-x: auto;
  white-space: nowrap;
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  margin: 0 10px;
  scroll-behavior: smooth;
}

.scroll-content {
  display: inline-block;
}

.item {
  display: inline-block;
  width: 200px;
  height: 200px;
  margin-right: 20px;
  background-color: lightblue;
  text-align: center;
  line-height: 200px;
  box-sizing: border-box;
}

button {
  padding: 1rem 1.25rem;
  border-radius: 50%;
  font-size: 16px;
}

.leftbuttonclass{
  top:57.5rem;
  left: 3rem;
  position: absolute;
  z-index: 2;
  cursor: pointer;
}

.rightbuttonclass{
  top:57.5rem;
  left: 69rem;
  position: absolute;
  z-index: 2;
  cursor: pointer;
}

.scroll-container.scrolling {
  scroll-behavior: unset;
}

.scrolling .scroll-container {
  transition: transform 2s;
}

footer {
    text-align: center;
    padding: 0.3125rem 0;
    background-color: #00000076;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}

@media (max-width: 768px) {
  .logo {
    width: 20rem;
}
  .scrolled .logo {
      width: 4.5rem;
}
  .zoom-fade-text {
      font-size: 2rem;
}
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.social-links a img {
  width: 50px;
  height: auto;
  transition: transform 0.3s ease;
}

.social-links a:hover img {
  transform: scale(1.1);
}
